body {
    background-color: salmon;
}

nav > ul > li {
    list-style-type: none;
    display: inline-block;
    padding: 2em;
}
nav > ul > li:hover {
    background-color: lightgray;
}

.quote {
    background-color: papayawhip;
    border: 1px solid crimson;
    padding: 1em;
}